body {
    font-family: arial;
    background-color: lightblue;
    margin-top: 75px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 300px;
}

